# Arduino / Teensy Compiled files
*.hex
*.elf
*.bin
*.eep
*.d
*.o
*.a
*.lss
*.sym
*.map

# Arduino IDE generated folders
build/
.arduino/

# Mac & Windows System files
.DS_Store
Thumbs.db
desktop.ini

# VS Code / Other IDEs (falls du mal wechselst)
.vscode/
.pio/
